<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		">

	<!-- configure the spring beans  -->
	
	<bean class="com.app.service.BankService" id="bs"></bean>
	<bean class="com.app.aspect.PerformanceMonitoringAroundAspect" id="pfma"></bean>
	
	
	<aop:config>
	
	  <!-- pointcut -->
	  
	  <aop:pointcut expression="execution(float com.app.service.BankService.*(..))" id="ptc"/>
	  
	  <aop:aspect ref="pfma">
	   <aop:around method="monitorPerformance" pointcut-ref="ptc" />
	   </aop:aspect>
	
	  </aop:config>
		


   
   
   
   
   
   
   
   
   
   
   
   

   
</beans>